<div class="hangar-section">
    <h1>Hangar</h1>
    @for (spaceShip of spaceShips | async;  track spaceShip) {
      <app-space-ship [spaceShip]="spaceShip">
        @if (spaceShip.pilot) {
          <button (click)="dismissPilot(spaceShip)">Opuść</button>
        } @else if (selectedPilot) {
          <button (click)="assignPilot(spaceShip)">Pilotuj</button>
        }
      </app-space-ship>
    }
  </div>
  <div class="hangar-section">
    <app-pilot-room (selected)="setSelectedPilot($event)"></app-pilot-room>
    <app-engineers-room></app-engineers-room>
  </div>
