/* You can add global styles to this file, and also import other style files */
body {
    background-image: url('/assets/cosmos.jpg');
    color: #fff;
    font-family: Helvetica, sans-serif;
}

button[type="submit"], .select-button, input[type="number"], .select-ship {
    cursor: pointer;
}